{{ define "main" }}
  <section class="droppin-dimes-header">
    <h2> Droppin Dimes with Dope Rhymes</h2>
    <h3> ludicrous lyrical mastery</h3>
    <h4><a href="./index.xml">{ Subscribe via RSS }</a></h4>
  </section> 
  <br> 
  <section class="posts-list">
    <ul style="list-style: none"> 
        {{ range .RegularPages }}
      <li>
        <p>
          <a href="{{ .Permalink }}">
            <h4>{{ .Title }}</h4>
          </a>
        </p>
        <h5 class="blog-post-summary"> {{ .Summary }} </h5>
      </li>
      {{ end }}
    </ul>
  </section>
  <br>
{{ end }}
