<!doctype html>
<html lang="en-US">
  <head>
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      crossorigin
      href="/fonts/literata/literata-latin.woff2"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      charset="utf-8"
    />
    <title>Johnny Dot Com</title>

    <link rel="stylesheet" href="/css/index.css" />
    <link rel="icon" type="image/png" href="/photos/john-favicon.png" />
    <script type="text/javascript" src="/js/header.js"></script>
    <script type="text/javascript" src="/js/footer.js"></script>
  </head>

  <body class="grid-wrapper wiki-page">
    <custom-header></custom-header>
    <main id="wiki-post-main" class="main" data-pagefind-body>
      <h3 data-pagefind-ignore>
        <a href="/wiki-pages/index.html">home garden</a> /
        <span data-pagefind-meta="title">{title}</span>
      </h3>
      {content}
    </main>
    <br />

    <custom-footer></custom-footer>
  </body>
</html>
