@import "blog-poems";
@import "footer";
@import "global";
@import "header";
@import "portfolio";
@import "wiki";

@media (max-width: 465px) {
	div.about-picture { 
		width: 100%;
	}
    body {
        width: 75%;
    }
	.main {
		font-size: 1rem;
	}
	.homepage-title {
		font-size: 1.5rem;
	}
	.nav-bar-item {
		font-size: 1.25rem;
	}
	.portfolio-description {
		width: 100%;
	}
    .project-view-button {
        font-size: 1rem;
        width: 50%;
    }
	details[open] summary span.icon {
		font-size: 1rem;
	}
	#resume-pdf-viewer {
		height: 100%;
	}
	#social-media-photo {
		width: 25px;
	}
    .blog-logo-image {
        width: 100%;
    }
    .blog-post-content {
        font-size: 1.25rem;
        width: 85%;
    }
}





