.website-header {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem 0 0.5rem;
}

.homepage-title {
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.nav-bar-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 0;
  gap: 0.5rem 1rem;
}

.nav-bar-item {
  font-size: clamp(1.1rem, 3.5vw, 1.5rem);
  font-weight: 550;
  list-style-type: none;
  padding-right: 0;
}

.nav-bar-link {
  display: flex;
  text-decoration: none;
}

.nav-bar-link:hover {
  text-decoration: underline;
}

.social-media-photo {
  padding-right: 0;
  width: 30px;
}

.social-media-photo:hover {
  opacity: 0.7;
}

@media (width>= 768px) {
  .social-media-photo {
    width: 40px;
    padding-right: 0.5vw;
  }
}
