@import url("blog-poems.css");
@import url("footer.css");
@import url("global.css");
@import url("header.css");
@import url("portfolio.css");
@import url("wiki.css");

.blog-post-content {
  width: 100%;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.blog-logo-image {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

summary {
  gap: 0.25rem;
}

details[open] summary span.icon {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* Tablet (≥600px) */
@media (width >= 600px) {
  .blog-post-content {
    width: 95%;
    margin: 0 auto;
  }
}

/* Desktop (≥768px) */
@media (width >= 768px) {
  .blog-post-content {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 90%;
  }
}
