<footer class="resume-footer">
    <br>
    <section class="resume-footer-content">
        <section class="resume-links">
           <h3><a href="mailto:jmathena24@gmail.com">jmathena24@gmail.com</a></h3> 
           <h3><a href="https://github.com/jmathena1">https://github.com/jmathena1</a></h3>
           <h3><a href="https://linkedin.com/in/johnwmathena/">https://linkedin.com/in/johnwmathena/</a></h3>
             
        </section>
            
        <br>

        <section>
            <h3>Education</h3>
            <h4>Bachelor of Arts, Arabic Studies, University of Maryland, College Park (2018)</h4>
            <h4>Bachelor of Arts, Linguistics, University of Maryland, College Park (2017)</h4>
        </section>

        <br>

        <section>
            <h3>Foreign Languages</h3>
            <h4>Arabic (Modern Standard, Moroccan, and Egyptian) and Spanish</h4>
        </section>

        <br>

        <section>
            <h3>Programming Languages</h3>
                <h4>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JavaScript</a>, 
                    <a href="https://www.python.org/">Python</a>, <a href="https://www.r-project.org/">R</a>, SQL, 
                    <a href="https://developer.salesforce.com/docs/atlas.en-us.soql_sosl.meta/soql_sosl/sforce_api_calls_soql.htm">
                        SOQL</a>, <a href="https://www.typescriptlang.org/">TypeScript</a>, 
                    <a href="https://learn.microsoft.com/en-us/office/vba/library-reference/concepts/getting-started-with-vba-in-office">VBA</a>
                </h4>
        </section>

        <br>

        <section>
            <h3>Web Development</h3>
            <h4>
                <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a>, <a href="https://developer.mozilla.org/en-US/docs/Web/HTML">
                    HTML</a>, <a href="https://nodejs.org/en">Node.js</a>
            </h4>
        </section>

        <br>

        <section>
            <h3>Databases</h3>
            <h4>
                <a href="https://www.mysql.com/">MySQL</a>, <a href="https://www.postgresql.org/">PostgreSQL</a>, 
                <a href="https://www.sqlite.org/">SQLite</a>
            </h4>
        </section>

        <br>

        <section>
            <h3>Developer Tools</h3>
            <h4>
                <a href="https://www.docker.com/">Docker</a>, <a href="https://git-scm.com/">Git</a>, <a href="https://github.com">GitHub</a>,  
                <a href="https://podman.io/">Podman</a>, <a href="https://www.terraform.io/">Terraform</a>
            </h4>
            <br>
        </section>
    </section>
</footer>
